<h1><b>The Bow:</b> <br> <%= @equipment.bow %></h1>
<p><b>Type:</b><%= @equipment.bow_type %></p>
<p><b>Size:</b><%= @equipment.bow_size %></p>
<p><b>Draw Length:</b><%= @equipment.draw_length %></p>
<p><b>Draw Weight:</b><%= @equipment.draw_weight %></p>
<p><b>String:</b> <%= @equipment.string %></p>

<h1><b>The Arrow:</b> <br> <%= @equipment.arrow %></h1>
<p><b>Arrow Length:</b> <%= @equipment.arrow_length %></p>
<p><b>Spine:</b> <%= @equipment.arrow_spine %></p>
<p><b>Arrow Weight:</b> <%= @equipment.arrow_weight %></p>
<p><b>Tip Weight:</b> <%= @equipment.tip_weight %></p>
<p><b>Fletching:</b> <%= @equipment.fletching %></p>
<p><b>Nock:</b> <%= @equipment.nock %></p>

<p><b>Description:</b> <br> <%= @equipment.description %></p>

<div>
    <%= link_to 'Edit', edit_equipment_path(@equipment) %>
    <%= button_to 'Delete', @equipment, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>

<% @equipment.blogs.each do |blog| %>
    <h2><%= blog.title %></h2>
    <p><%= blog.session %></p>
<% end%>