<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      |
      <% if @current_user.present? %>

        <%= link_to 'New Round', root_path %>
        |
        <%= link_to 'Your Equipment', equipments_path %>
        <%= link_to 'New Equipment', new_equipment_path %>
        |
        <%= link_to "Logout #{ @current_user.username }", login_path, :method => 'delete' %>
      <% else %>
        <%= link_to 'Sign up', new_user_path %>
        <%= link_to 'Sign in', login_path %>
      <% end %>
      
      
    </nav>
    <%= yield %>
  </body>
</html>
